.nav-bar{
    display: inline-flex;
    justify-content: center;
    padding: 20px;
}
.nav-bar > div{
    margin: 30px 20px;
    font-size: 40px;
}
.nav-bar :hover{
    background: rgba(255, 255, 255, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.4px);
-webkit-backdrop-filter: blur(12.4px);
}