.add-inputs > input{
   width: 300px;
   font-size: 30px;
   border-radius: 10%;
   text-align: center;
   margin: 20px 0;
}

.add-inputs{
    display: inline-block;
    width: 500px;
    /* From https://css.glass */
    background: rgba(166, 127, 127, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(238, 238, 238, 0.1);
    backdrop-filter: blur(13.6px);
    -webkit-backdrop-filter: blur(13.6px);
    border: 1px solid rgb(211, 207, 207);
    padding: 20px;
    margin-top: 20px;
}
.add-day{
    width: 300px;
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 10%;
    text-align: center;
}