.all-list{
    margin: 100px;

}
.new-button{
    display:inline-block ;
    margin-top: 20px;
    margin-left: 100px;
}
.all-page{
    display: flex;
    justify-content: space-between;
    flex-flow:column wrap;
    text-align: left;
}
